h1 {
font-family: 'Quicksand', sans-serif;
font-size: 50px;
background-color: #AC7676;
text-align: center;

}


h2 {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: white;
  margin-left: 400px;
  margin-right: 40px;
}

body {
  background-image: url(https://i.redd.it/s3bsz6wndopx.jpg);
  background-size: cover;
}

div.incompleteTask {
  background-color: #AC7676;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40px;
  margin-right: 400px;
}

div.completedTask {
  background-color: white;
  text-decoration: line-through;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 400px;
  margin-right: 40px;
}
